body{
  margin: 0px;
  padding: 0px;
}
/* navbar */
nav{
  background-color: #ffbb1e;
}
.warna{
  color: #1cedc6;
}
#text{
  color: black;
}
/* akhir navbar */
.judul{
  text-align: left;
}
.waktu {
  color: grey;
  border-bottom: 2px solid grey;
}
p{
  padding-top: 10px;
  text-align: justify;
}
/* .p{
  padding-top: -20px;
} */
.gambar{
  text-align: center;
  padding-top: 10px;
}

}
/* footer */
.bb{
  background-color: yellow;
}
footer{
  text-align: center;
  margin-top: 95px;
  background-color: black;
}
footer p{
color: #aaa;
padding-top: 10px;
padding-left: 450px;
padding-bottom: 0px
}
/* akhir footer */

/* beranda */
.gambarberanda{
  padding-left: 60px;
  padding-top: 10px;
}
h5{
  padding-top: 20px;
}
h3{
padding-top: 143px;
text-align: center;
border-bottom: 2px solid grey;
}
.link{
  border-bottom: 1px solid grey;
}
img{
  transition: all 1s;
}
img:hover{
  transform: scale(1,1);
}

/* heroin */
.gambarheroin{
  text-align: center;
  padding-top: 10px;
}
bpheroin{
padding-top: 100px;
}
/* pilekstasi */
.gambarpil{
  text-align: center;
  padding-top: 10px;
}

/* ganja */
.gambarganja{
  text-align: center;
  padding-top: 10px;
}

/* teroris */
.gambarteroris{
  text-align: center;
  padding-top: 10px;

}
